* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background-color: rgba(235, 235, 223, 0.356);
}

.mainbox {
  max-width: 380px;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 40px;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.foto-perfil {
  width: 154px;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 3px rgb(0 0 0 / 10%);
}

h1 {
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 13px;
}
.box-item {
  background-color: white;
  padding: 16px;
  box-shadow: 0px 0px 20px 3px rgb(0 0 0 / 10%);
  margin: 20px;
  display: flex;
  text-decoration: none;
  color: black;
}
.icon-img {
  height: auto;
  width: 50px;
}
.left-item {
  width: 40%;
}
.right-item {
  width: 60%;
  display: grid;
  place-items: center flex-start;
  align-items: center;
  justify-items: flex-start;
}

.box-item:hover {
  opacity: 0.5;
}
